<div class="jumbotron">
	<h1>Analyse des matchs</h1>
	<p>Pour savoir où en sont les équipes en fonction de leurs précédentes prestations...</p><br>
	<div class="row">
  <div class="col-xs-10 col-md-3">
    <li><%= link_to "Argentine-Bosnie : 2-0", argentine_bosnie_path, class: "thumbnail" %></li>
    <li><%= link_to "Allemagne-Portugal : 4-0", "#", class: "thumbnail" %></li>
  </div>
</div>