<div class="jumbotron center">

	<h3>Allemagne-Portugal</h3>
	<h1>4-0</h1>

	<dl class="dl-horizontal">

  <dt>Résumé du match</dt>
  <dd class="text-justify"><strong>L’Allemagne survole le match et humilie le Portugal.</strong> Après la blessure d’Almeida à la 28e minute et le coup de tête de Pepe sur Müller, qui lui vaut un rouge, on n’a presque pas vu les Portugais jouer, et les buts se sont enchaînés : triplé de Müller, dont un pénalty, et une tête de Hummels sur corner à la 32e. Dominés 3-0 à la mi-temps, les Portugais n’ont pas refait surface en seconde mi-temps, avec un Ronaldo et transparent et Coentrao contraint de sortir à cause d’un claquage. Il est même surprenant que la note n’ait pas été plus salée… </dd><br>

  <dt>A retenir pour la suite</dt>
  <dd class="text-justify">L'Allemagne engage la compétition en grande confiance, ce qui est loin d'être le cas des Portugais. Le rouge de Pepe est de mauvais augure pour la rencontre contre les USA, qui se sont eux imposés contre le Ghana. D'autant qu'on ne sait pas si Coentrao, pilier de la Selecçaõ, sera de retour d'ici là...
</dl>
</div>
