<div class="jumbotron center">
	<h3>Argentine-Bosnie</h3>
	<h1>2-1</h1>
	<dl class="dl-horizontal">
  <dt>Résumé du match</dt>
  <dd class="text-justify">Menant au score dès la 3e minute sur un coup de chance, après un but contre son camp de Kolasinac, l’Argentine n’a cependant été que l’ombre d’elle-même durant toute la première période, et seuls les Bosniaques étaient réellement dangereux, face à un Messi en manque de confiance et une Albiceleste très peu cohérente. Mais après l’entrée de Higuain et de Gago et un repositionnement tactique en seconde période, on a assisté au réveil des Argentins. Messi s’est vite rassuré avec un but magnifique à la 65e minute, et lui et Di Maria ont offert un football somptueux fait d’accélérations fulgurantes. Cela n’a néanmoins pas empêché  Ibisevic de réduire l’écart à la 85e minute et faire espérer le nul jusqu’à la fin d’un match qu’on aurait aimé voir durer une mi-temps de plus. </dd><br>
  <dt>A retenir pour la suite de la compétition</dt>
  <dd class="text-justify">l’Argentine a eu besoin de se rassurer, mais elle a ensuite montré qu’elle était potentiellement explosive, même quand seuls deux de ses joueurs sont en forme. En revanche, Agüero est quasiment passé inaperçu. Ce match a aussi montré que la Bosnie était un prétendant sérieux au phases finales, avec un trio Misimovic-Pjanic-Dzeko très incisif.
</dl>
</div>
