<div class="jumbotron center">
	<h3>Australie-Espagne</h3>
  <h4>18h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">62e <em><strong>VS.</strong></em> 1er</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Défaite 3-1 (Chili) <em><strong>VS.</strong></em> Défaite 5-1 (Pays-Bas)</dd>
        <dt>2e match de coupe</dt>
        <dd class="text-justify">Défaite 3-2 (Pays-Bas) <em><strong>VS.</strong></em> Défaite 2-0 (Chili)</dd><br>
        <dt>Analyse</dt> 
  			<dd class="text-justify">Même si l'Australie a marqué plus de buts et en a encaissé moins que l'Espagne dans ces premiers matchs du mondial, Del Bosque va remanier son effectif pour faire jouer de jeunes joueurs qui ont tout à prouver et seront probablement plus motivés que leurs aînés. Mais ce groupe espagnol manque de cohésion, comme le prouve l'altercation entre Fabregas et Del Bosque, tandis que l'Australie n'est pas venue au mondial pour faire de la figuration et rêve probablement d'arracher une victoire contre le champion du monde en titre. N'oublions pas que la défense australienne est très mauvaise.</dd><br>
  			<dt>Pronostição</dt>
  			<dd class="text-justify"><strong>Aux vues de la motivation australienne, un match nul est sûrement le pronostic le plus judicieux, car même une Espagne en perte de vitesse reste une équipe difficile à prendre.</strong></dd>
		</dl>
</div>		

<div class="jumbotron center">
  <h3>Pays-Bas-Chili</h3>
  <h4>18h</h4><br>
    <dl class="dl-horizontal">
        <dt>Classement Fifa</dt>
        <dd class="text-justify">15e <em><strong>VS.</strong></em> 14e</dd>
        <dt>Match d'ouverture</dt>
        <dd class="text-justify">Victoire 5-1 (Espagne) <em><strong>VS.</strong></em> Victoire 3-1 (Australie)</dd>
        <dt>2 match de coupe</dt>
        <dd class="text-justify">Victoire 3-2 (Australie) <em><strong>VS.</strong></em> Victoire 2-0 (Espagne)</dd>
        <dt>5 derniers matchs</dt>
        <dd class="text-justify">4 victoires, 1 nul <em><strong>VS.</strong></em> 4 victoires, 1 défaite</dt><br><br>
        <dt>Analyse</dt> 
        <dd class="text-justify">Ce match est très compliqué à pronostiquer, les deux équipes ayant toutes les deux montrer qu'elles savaient jouer au foot, et elles voudront toutes les deux remporter cette rencontre pour se classer à la tête du groupe. D'un côté, le Chili est une équipe très joueuse, aussi efficace en défense qu'en attaque, tandis qu'en face les Pays-Bas ont une excellente attaque mais une défense assez fébrile, comme le montrent les deux buts encaissés face à l'Australie. Le gardien chilien réalise des prouesses, avec 9 arrêts sur 10 tirs cadrés, et il sera beaucoup plus difficile pour les Pays-Bas de marquer par rapport aux derniers matchs. Ajouté à cela le public chilien...</dd><br>
        <dt>Pronostição</dt>
        <dd class="text-justify"><strong>Pour nous, le Chili a toutes les chances de l'emporter.</strong></dd>
    </dl>
</div>  

<div class="jumbotron center">
	<h3>Brésil-Cameroun</h3>
  <h4>22h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">2e <em><strong>VS.</strong></em> 56e</dd>
  			<dt>Match d'ouverture</dt>
        <dd class="text-justify">Victoire 2-1 (Croatie) <em><strong>VS.</strong></em> Défaite 1-0 (Mexique)</dd>
        <dt>2e match de coupe</dt>
        <dd class="text-justify">Nul 0-0 (Mexique) <em><strong>VS.</strong></em> Défaite 4-0 (Croatie)</dd>
        <dt>5 derniers matchs</dt>
        <dd class="text-justify">4 victoires, 1 nul <em><strong>VS.</strong></em> 3 défaites, 1 nul, 1 victoire</dt><br><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">Les deux équipes de cette rencontre se caractérisent par une certaine fébrilité lors de leurs deux premiers matchs, à l'image d'un Brésil qui a concédé le nul face au Mexique et emporté son match d'ouverture grâce à des erreurs d'arbitrage. Le Brésil a néanmoins une équipe plus expérimentée que le Cameroun, comme le montre la dispute entre Assou Ekotto et Moukandjo. De plus, le Cameroun n'a toujours pas mis de but, et la défense brésilienne est l'une des meilleures au monde, tandis que le gardien camerounais risque d'avoir du mal à rééditer les prouesses d'Ochoa, le gardien mexicain. </dd><br>
  			<dt>Pronostição</dt>
  			<dd class="text-justify"><strong>Là encore, le Brésil, galvanisé par son public, devrait l'emporter.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Croatie-Mexique</h3>
  <h4>22h00</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
        <dd class="text-justify">18e <em><strong>VS.</strong></em> 20e</dd>
        <dt>Match d'ouverture</dt>
        <dd class="text-justify">Défaite 2-1 (Brésil) <em><strong>VS.</strong></em> Victoire 1-0 (Cameroun)</dd>
        <dt>2e match de coupe</dt>
        <dd class="text-justify">Victoire 4-0 (Cameroun) <em><strong>VS.</strong></em> Nul 0-0 (Brésil)</dd>
        <dt>5 derniers matchs</dt>
        <dd class="text-justify">3 victoires, 1 nul, 1 défaite <em><strong>VS.</strong></em> 2 victoires, 1 nul, 2 défaites</dt><br><br>
  			<dt>Analyse</dt>  			
  			<dd class="text-justify">On voit ici s'affronter une équipe offensive et une équipe défensive. La Croatie, avec son talent offensif, aurait toutes les chances de remporter ce match, mais le Mexique n'a encaissé aucun but durant ces matchs de poule, ne marquant qu'un seul but. Le Mexique peut se contenter d'un match nul pour se qualifier. L'équipe a montré qu'elle peut passer 90 minutes à ne jouer que la défense et Ochoa, qui est un homme des grands rendez-vous, risque de briller lors de ce match qualificatif pour les huitièmes de finale. </dd><br>
  			<dt>Pronostição</dt>
  			<dd class="text-justify"><strong>Un match nul est probable.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Bilan du jour</h3><br>
	<p>Les rencontres du jour sont très incertaines, mais le fait qu'il y en ait 4 rend le combiné très intéressant ! On vous recommande de faire plusieurs combinés avec de petites sommes en variant les issues possibles.
</div> 

<div class="jumbotron center">

	<p><em>Pronostics, sauce brésilienne.</em></p>
</div>

