<div class="jumbotron center">
	<h3>Costa Rica-Angleterre</h3>
  <h4>18h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">28e <em><strong>VS.</strong></em> 10e</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Victoire 3-1 (Uruguay) <em><strong>VS.</strong></em> Défaite 2-1 (Italie)</dd>
        <dt>2e match de coupe</dt>
        <dd class="text-justify">Victoire 1-0 (Italie) <em><strong>VS.</strong></em> Défaite 2-1 (Uruguay)</dd>
        <dt>Absents</dt>
        <dd class="text-justify">Chamberlain (Angleterre)</dd><br>
        <dt>Analyse</dt> 
  			<dd class="text-justify">Le Costa Rica a beau être la grosse surprise de ce mondial, l'Angleterre le sait et ne se fera pas prendre. Rooney a ouvert son compteur de buts au dernier match, et l'Angleterre, qui ne voudra pas rentrer bredouille de son mondial, jouera ce match à fond, à l'image des Espagnols contre l'Australie. Si l'Italie n'a pas su marquer contre le Costa Rica, l'Angleterre affiche une bien meilleure attaque. </dd><br>
  			<dt>Pronostição</dt>
  			<dd class="text-justify"><strong>Victoire de l'Angleterre, pour l'honneur.</strong></dd>
        <dt>Ailleurs</dt>
        <dd class="text-justify"><a href="http://www.echodesparis.com/pronostics-coupe-du-monde/pronostic-costa-rica-angleterre_103602.html">L'Echo des paris</a> : victoire Costa Rica - <a href="http://www.coteur.com/match/costa-rica-angleterre-rid571119.html">coteur.com</a> : victoire Angleterre - <a href="http://www.theepochtimes.com/n3/755816-england-vs-costa-rica-world-cup-2014-previous-results-predictions-preview-odds-to-win-kick-off-time-for-three-lions-los-ticos-match/">Epoch Times</a> : 2-1 Costa Rica - <a href="http://www.telegraph.co.uk/sport/football/world-cup/10920392/Costa-Rica-v-England-match-preview.html">The Telegraph</a> : 1-1</dd>
    </dl>
</div>		

<div class="jumbotron center">
  <h3>Italie-Uruguay</h3>
  <h4>18h</h4><br>
    <dl class="dl-horizontal">
        <dt>Classement Fifa</dt>
        <dd class="text-justify">9e <em><strong>VS.</strong></em> 7e</dd>
        <dt>Match d'ouverture</dt>
        <dd class="text-justify">Victoire 2-1 (Angleterre) <em><strong>VS.</strong></em> Défaite 3-1 (Costa Rica)</dd>
        <dt>2e match de coupe</dt>
        <dd class="text-justify">Défaite 1-0 (Costa Rica) <em><strong>VS.</strong></em> Victoire 2-1 (Angleterre)</dd>
        <dt>Absents</dt>
        <dd class="text-justify">Italie : De Rossi, De Sciglio - Uruguay : Lugano</dt><br><br>
        <dt>Analyse</dt> 
        <dd class="text-justify">Ces deux équipes se sont déjà rencontrées lors de la Coupe des Confédérations, et le score a été de 2-2 ; en un an, elles n'ont pas vraiment changé de philosophie. Pour l'instant, l'Italie se qualifie devant l'Uruguay à un but prêt ! L'Uruguay n'a donc rien à perdre, et Suarez a montré qu'il était capable de changer l'issue d'un match. Mais l'Italie présente de biens meilleurs arguments défensifs que l'Angleterre, et son milieu dense devrait intercepter les passes en direction de l'attaque uruguayienne. Cela dit, l'Uruguay a quand même montré un jeu très intéressant face à l'Angleterre...</dd><br>
        <dt>Pronostição</dt>
        <dd class="text-justify"><strong>Face à une Squadra très défensive, l'Uruguay ne devrait pas obtenir plus que le nul.</strong></dd>
        <dt>Ailleurs</dt>
        <dd class="text-justify"><a href="http://www.sofoot.com/italie-uruguay-pronostics-cotes-et-analyse-du-match-185729.html">SoFoot</a> : match nul - <a href="http://www.coteur.com/match/italie-uruguay-rid571118.html">coteur.com</a> : nul ou victoire Uruguay- <a href="http://www.pronostics.info/coupe-du-monde/pronostic_italie-uruguay.php">Pronostiscs.info</a> : Victoire Uruguay - <a href="http://www.theepochtimes.com/n3/755847-italy-vs-uruguay-2014-predictions-preview-odds-to-win-date-time-of-azzurri-la-celeste-match/">The Epoch Times</a> : 2-1 Uruguay</dd>
    </dl>
</div>  

<div class="jumbotron center">
	<h3>Grèce-Côte d'Ivoire</h3>
  <h4>22h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">12e <em><strong>VS.</strong></em> 23e</dd>
  			<dt>Match d'ouverture</dt>
        <dd class="text-justify">Défaite 3-0 (Colombie) <em><strong>VS.</strong></em> Victoire 2-1 (Japon)</dd>
        <dt>2e match de coupe</dt>
        <dd class="text-justify">Nul 0-0 (Japon) <em><strong>VS.</strong></em> Défaite 2-1 (Côte d'Ivoire)</dd>
        <dt>Absents</dt>
        <dd class="text-justify">Grèce : Katsouranis - Côte d'Ivoire : Ya Konan, Zokora</dt><br><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">Les deux équipes de cette rencontre se caractérisent par une certaine fébrilité lors de leurs deux premiers matchs, à l'image d'un Brésil qui a concédé le nul face au Mexique et emporté son match d'ouverture grâce à des erreurs d'arbitrage. Le Brésil a néanmoins une équipe plus expérimentée que le Cameroun, comme le montre la dispute entre Assou Ekotto et Moukandjo. De plus, le Cameroun n'a toujours pas mis de but, et la défense brésilienne est l'une des meilleures au monde, tandis que le gardien camerounais risque d'avoir du mal à rééditer les prouesses d'Ochoa, le gardien mexicain. </dd><br>
  			<dt>Pronostição</dt>
  			<dd class="text-justify"><strong>Là encore, le Brésil, galvanisé par son public, devrait l'emporter.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Japon-Colombie</h3>
  <h4>22h00</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
        <dd class="text-justify">46e <em><strong>VS.</strong></em> 8e</dd>
        <dt>Match d'ouverture</dt>
        <dd class="text-justify">Défaite 2-1 (Côte d'Ivoire) <em><strong>VS.</strong></em> Victoire 3-0 (Grèce)</dd>
        <dt>2e match de coupe</dt>
        <dd class="text-justify">Nul 0-0 (Grèce) <em><strong>VS.</strong></em> Victoire 2-1 (Côte d'Ivoire)</dd>
        <dt>Absents</dt>
        <dd class="text-justify">Colombie : Bacca</dt><br>
  			<dt>Analyse</dt>  			
  			<dd class="text-justify">Même si elle est quasiment sûre de terminer première de son groupe, la Colombie va probablement poursuivre son jeu offensif pour le plaisir de ses supporters. Le Japon qui n'a mis qu'un seul but depuis le début de la compétition fait pâle figure face aux 5 buts marqués par la Colombie. Malgré leur bonne défense, ils ne tiendront probablement pas plus d'une mi-temps face à l'armada colombienne. </dd><br>
  			<dt>Pronostição</dt>
  			<dd class="text-justify"><strong>Victoire logique de la Colombie.</strong></dd>
        <dt>Ailleurs</dt>
        <dd class="text-justify"><a href="http://www.coteur.com/match/japon-colombie-rid571112.html">coteur.com</a> : Victoire Colombie - <a href="http://www.sportytrader.com/pronostic-japon-colombie-32233.htm">Sporty Trader</a> : Victoire Colombie - <a href="http://www.bettingexpert.com/tip/811315-japan-colombia">bettingexpert</a> : Victoire Colombie</dt>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Bilan du jour</h3><br>
	<p>Les rencontres du jour sont très incertaines, mais le fait qu'il y en ait 4 rend le combiné très intéressant ! On vous recommande de faire plusieurs combinés avec de petites sommes en variant les issues possibles.
</div> 

<div class="jumbotron center">

	<p><em>Pronostics, sauce brésilienne.</em></p>
</div>

