<div class="jumbotron center">
	<h3>Italie-Costa Rica</h3>
  <h4>18h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">9e <em><strong>VS.</strong></em> 28e</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Victoire 2-1 (Angleterre) <em><strong>VS.</strong></em> Victoire 3-1 (Uruguay)</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">2 victoires, 2 nuls, 1 défaite <em><strong>VS.</strong></em> 2 victoires, 2 défaites, 1 nul</dd>
  			<dt>Classement aux éliminatoires</dt>
  			<dd class="text-justify">1er <em><strong>VS.</strong></em> 2e (derrière USA)</dt>
        <dt>Buts marqués aux éliminatoires</dt>
        <dd class="text-justify">19 <em><strong>VS.</strong></em> 13</dd>
        <dt>Buts encaissés aux éliminatoires</dt>
        <dd class="text-justify">9 <em><strong>VS.</strong></em> 7</dd>
  			<dd class="text-justify">Ce match risque d'être sans surprise. Malgré sa victoire sur l'Uruguay en match d'ouverture, il est peu probable que le Costa Rica parvienne à tenir tête à une équipe d'Italie en grande forme, qui a réussi à s'imposer 2-1 contre l'Angleterre à l'issu d'une rencontre brillante. Même si une victoire du Costa Rica signifierait la qualification pour les 8e, celle-ci reste peu probable, et le public n'y pourra sans doute rien. </dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On mise sur une victoire logique de l'Italie.</strong></dd>
		</dl>
</div>		

<div class="jumbotron center">
	<h3>Suisse-France</h3>
  <h4>21h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">6e <em><strong>VS.</strong></em> 17e</dd>
  			<dt>Match d'ouverture</dt>
        <dd class="text-justify">Victoire 2-1 (Equateur) <em><strong>VS.</strong></em> Victoire 3-0 (Honduras)</dd>
        <dt>5 derniers matchs</dt>
        <dd class="text-justify">3 victoires, 1 nul, 1 défaite <em><strong>VS.</strong></em> 4 victoires, 1 nul</dd>
        <dt>Classement aux éliminatoires</dt>
        <dd class="text-justify">1er (groupe très simple) <em><strong>VS.</strong></em> 2e (derrière Espagne)</dt>
        <dt>Buts marqués aux éliminatoires</dt>
        <dd class="text-justify">17 <em><strong>VS.</strong></em> 15</dd>
        <dt>Buts encaissés aux éliminatoires</dt>
        <dd class="text-justify">6 <em><strong>VS.</strong></em> 6</dd>
  			<dt>Analyse</dt>
  			<dd class="text-justify">Face à l'Equateur, la Suisse a réussi à garder la tête froide et à rattraper son but de retard pour finalement s'imposer, mais on a été un peu déçus par leur construction du jeu. Les Hélvètes sortent d'une très bonne phase d'éliminatoires, aussi bons en attaque qu'en défense, mais leur groupe était particulièrement simple à jouer. Face à eux, les Français semblent enfin avoir trouver une cohésion dans le jeu collectif face au Honduras, et battent les Suisses en terme de talents individuels. L'enjeu du match est lourd, car une victoire permettra de se classer à la première place du groupe et ainsi d'éviter le gagnant du groupe F en 8e, qui sera sauf surprise l'Argentine. Rappelons également que la Suisse n'a pas battu la France depuis 1992.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On va aller à l'encontre des statistiques, et pronostiquer un nul à la mi-temps, puis une victoire de la France, qui marque majoritairement en seconde mi-temps.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
  <h4>Et toi, quel est ton pronostiçaõ ?</h4>
  <div class="input-group">
  <ul class="input-group-addon">
  <a type="button" class="btn btn-primary" href="/users/sign_up">Go !</a></ul>
  <input type="text" class="form-control" placeholder="Username">
</div>
</div>

<div class="jumbotron center">
	<h3>Honduras-Equateur</h3>
  <h4>0h00</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
        <dd class="text-justify">26e <em><strong>VS.</strong></em> 33e</dd>
        <dt>Match d'ouverture</dt>
        <dd class="text-justify">Défaite 2-1 (Suisse) <em><strong>VS.</strong></em> Défaite 3-0 (France)</dd>
        <dt>5 derniers matchs</dt>
        <dd class="text-justify">3 défaites, 1 nul, 1 victoire <em><strong>VS.</strong></em> 2 défaites, 2 nuls, 1 victoire</dd>
        <dt>Classement aux éliminatoires</dt>
        <dd class="text-justify">3e (derrière USA et Costa Rica) <em><strong>VS.</strong></em> 4e (devant Uruguay)</dt>
        <dt>Buts marqués aux éliminatoires</dt>
        <dd class="text-justify">13 <em><strong>VS.</strong></em> 20</dd>
        <dt>Buts encaissés aux éliminatoires</dt>
        <dd class="text-justify">12 <em><strong>VS.</strong></em> 16</dd>
  			<dt>Analyse</dt>  			
  			<dd class="text-justify">Le perdant de ce match verra toute chance de qualification s'envoler. Face à la Suisse, les Equatoriens ont montré qu'ils étaient capables d'inquiéter leurs adversaires, et ils pourraient vraiment construire un beau jeu s'ils obtiennent la possession du ballon. Ce devrait être chose possible face à une équipe du Honduras très maladroite et peu constructive, qui n'a eu que 37% de possession face à la France, et qui se trouve privée de Palacios à cause d'un carton rouge en match d'ouverture. En plus, il n'est pas impossible qu'ils finissent à nouveau à 10, puisqu'ils ont pris 4 cartons jaunes face à la France, signe d'un jeu violent, et que l'arbitrage depuis le début de la coupe est plutôt intransigeant... Pour finir, on a vu face à la Suisse que l'Equateur va pouvoir bénéficier d'un énorme soutien de la part du public.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On mise sur une victoire de l'Equateur, réellement supérieur techniquement et collectivement.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Bilan du jour</h3><br>
	<p>Contrairement à hier, les rencontres d'aujourd'hui sont plutôt déséquilibrées et les cotes, à moins d'une surprise du Honduras ou de la Suisse, sont faibles. Le combiné 1N2 permet de ne pas prendre de risque, mais il est probablement plus intéressant de miser sur les scores.
</div> 

<div class="jumbotron center">

	<p><em>Pronostics, sauce brésilienne.</em></p>
</div>

