<div class="jumbotron center">
	<h2>Bienvenue sur Pronostiçaõ</h2>
	<p>Tous les jours, on vous propose une feuille de paris combinés 1N2 sur les matchs de la coupe du monde !</p><br><br>
	<h3>Belgique-Algérie</3><br><br>
	<h3>Brésil-Mexique</h3><br>
	<h3>Russie-Corée du Sud</h3><br>
</div> 