<div class="jumbotron center">
	<h2>Bienvenue sur Pronostiçaõ !</h2>

	<p>Tous les jours, on vous propose nos pronostics sur les matchs de ce mondial, dans l'idée de faire un combiné sur toutes les rencontres du jour.</p>
</div>

<div class="jumbotron center">
	<h3>Belgique-Algérie</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">11e <em><strong>VS.</strong></em> 22e</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">3 victoires, 1 nul, 1 défaite <em><strong>VS.</strong></em> 4 victoires, 1 défaite</dd>
  			<dt>Moyenne d'âge</dt>
  			<dd class="text-justify">25 ans et 8 mois<em><strong>VS.</strong></em> 26 ans et 7 mois</dd>
  			<dt>Meilleurs joueurs</dt>
  			<dd class="text-justify">Hazard (Chelsea), Lukaku (Everton), Courtois (Atletico), Kompany (Manchester City) <em><strong>VS.</strong></em> Bentaleb (Tottenham), Taïder (Inter)</dd><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">La toute jeune équipe de Belgique, qui peut compter sur des talents comme Hazard, Lukaku ou Courtois, est un des grands outsiders de cette coupe. Elle a su s'imposer dans son groupe des éliminatoires, notamment face à la Croatie, et a récemment battu la Suède 2-0 et le Luxembourg 5-1.<br>
  			Face à elle, l'Algérie ne manque sûrement pas de volonté et n'est pas beaucoup moins jeune. Les Fennecs sont eux aussi dans une bonne série, mais leur groupe était plus simple à jouer, et ils ne peuvent pas compter sur un effectif aussi solide. </dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On ne va pas jouer la carte d'une surprise peu probable, et miser sur une victoire de la Belgique.</strong></dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Brésil-Mexique</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">3e <em><strong>VS.</strong></em> 20e</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">5 victoires <em><strong>VS.</strong></em> 3 victoires, 2 défaites</dd>
  			<dt>Buts marqués en 5 matchs</dt>
  			<dd class="text-justify">15 <em><strong>VS.</strong></em> 7</dd>
  			<dt>Meilleurs joueurs</dt>
  			<dd class="text-justify">Neymar (Barcelone), Hulk (Zénith), Thiago Silva (Paris), Daniel Alves (Barcelone), David Luiz (Chelsea), Oscar (Chelsea) <em><strong>VS.</strong></em> Chicharito (Manchester Utd), Dos Santos (Villareal)</dd><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">Duel latino-américain entre les favoris de la compétition et un Mexique qui pourrait faire figure d'outsider. Même si les verts de Chicharito ont offert une très belle prestation face au Cameroun, tandis que le Brésil obtenait un 3-1 de manière peur sereine face à la Croatie, la différence de niveaux entre les deux effectifs risque de se faire sentir : le Brésil est maintenant en confiance, et en plus à domicile.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>Là encore, parier sur le Mexique serait suicidaire. Pariez donc sur une victoire du Brésil, et si vous voulez plus de risque, une victoire par plus de deux buts d'écart est largement envisageable.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Russie-Corée du Sud</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">19e <em><strong>VS.</strong></em> 57e</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">4 victoires, 1 nul <em><strong>VS.</strong></em> 1 victoire, 4 défaites</dd>
  			<dt>Buts marqués en 5 matchs</dt>
  			<dd class="text-justify">8 <em><strong>VS.</strong></em> 2</dd>
  			<dt>Buts encaissés en 5 matchs</dt>
  			<dd class="text-justify">2 <em><strong>VS.</strong></em> 11</dd>
  			<dt>Performance aux éliminatoires</dt>
  			<dd class="text-justify">1e devant le Portugal <em><strong>VS.</strong></em> 2e derrière l'Iran !</dd>
  			
  			<dd class="text-justify">C'est le match le plus incertain de la journée, et encore. Aux vues de ces récentes prestations et notamment la façon dont elle a survolé les éliminatoires (7 victoires en 10 matchs) en encaissant très peu de buts, la Russie part largement favorite face à une Corée dont l'incompétence défensive est bien connue et qui n'a fait que 2e dans un groupe pourtant très simple... </dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>Victoire de la Russie.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Bilan du jour</h3><br>
	<p>Difficile de prendre des risques aujourd'hui, du coup les cotes s'en ressentent : en combinant Belgique/Russie/Brésil, on atteint à peine le x3. C'est peut-être l'occasion de miser plus gros, ou de s'essayer aux scores !
</div> 

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45637424-1', 'pronosticao.herokuapp.com');
  ga('send', 'pageview');

</script>

