<div class="jumbotron center">
	<h3>Argentine-Iran</h3>
  <h4>18h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">5e <em><strong>VS.</strong></em> 43e</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Victoire 2-1 (Bosnie) <em><strong>VS.</strong></em> Nul 0-0 (Nigéria)</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">4 victoires, 1 nul <em><strong>VS.</strong></em> 1 victoire, 4 nuls</dd>
  			<dt>Classement aux éliminatoires</dt>
  			<dd class="text-justify">1er <em><strong>VS.</strong></em> 1er (devant Corée)</dt>
        <dt>Buts marqués aux éliminatoires</dt>
        <dd class="text-justify">35 <em><strong>VS.</strong></em> 8</dd>
        <dt>Buts encaissés aux éliminatoires</dt>
        <dd class="text-justify">15 <em><strong>VS.</strong></em> 2</dd><br>
        <dt>Analyse</dt> 
  			<dd class="text-justify">Même s'il y a beaucoup de surprise depuis le début de ce mondial, il est peu probable que ce match en face partie. L'Iran, incapable de s'en sortir face au Nigéria, affronte cette fois la meilleure attaque de la phase éliminatoire et second favori de la compétition. L'Argentine est en plus habituée à jouer contre des équipes défensives, et l'armada Higuain, Di Maria, Agüero, Lavezzi et Messi ne peut pas ne pas marquer.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>Il n'est pas exagéré de tabler sur une victoire de l'Argentine à la mi-temps, voire sur un 3-0 à l'issu de la rencontre.</strong></dd>
		</dl>
</div>		

<div class="jumbotron center">
	<h3>Allemagne-Ghana</h3>
  <h4>21h</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">2e <em><strong>VS.</strong></em> 37e</dd>
  			<dt>Match d'ouverture</dt>
        <dd class="text-justify">Victoire 4-1 (Portugal) <em><strong>VS.</strong></em> Défaite 2-1 (USA)</dd>
        <dt>5 derniers matchs</dt>
        <dd class="text-justify">3 victoires, 2 nuls <em><strong>VS.</strong></em> 4 défaites, 1 victoire</dd>
        <dt>Classement aux éliminatoires</dt>
        <dd class="text-justify">1er (devant la Suède) <em><strong>VS.</strong></em> 1er (groupe très simple)</dt>
        <dt>Buts marqués aux éliminatoires</dt>
        <dd class="text-justify">36 <em><strong>VS.</strong></em> 18</dd>
        <dt>Buts encaissés aux éliminatoires</dt>
        <dd class="text-justify">10 <em><strong>VS.</strong></em> 3</dd><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">Certes, l'Allemagne est donnée largement favorite, mais le Ghana a néanmoins de très bons joueurs (Boateng, Ayew et Gyan) et va jouer de manière décomplexée, n'ayant rien à perdre. Mais l'Allemagne conserve une supériorité écrasante, comme elle l'a prouvé face au Portugal, tandis que le Ghana n'a pas su jouer les USA.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>Victoire de l'Allemagne.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Nigéria-Bosnie</h3>
  <h4>0h00</h4><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
        <dd class="text-justify">44e <em><strong>VS.</strong></em> 21e</dd>
        <dt>Match d'ouverture</dt>
        <dd class="text-justify">Nul 0-0 (Iran) <em><strong>VS.</strong></em> Défaite 2-1 (Argentine)</dd>
        <dt>5 derniers matchs</dt>
        <dd class="text-justify">4 nuls, 1 défaite <em><strong>VS.</strong></em> 2 victoires, 3 défaites</dd>
        <dt>Classement aux éliminatoires</dt>
        <dd class="text-justify">1er (groupe très simple) <em><strong>VS.</strong></em> 1er (devant Grèce)</dt>
        <dt>Buts marqués aux éliminatoires</dt>
        <dd class="text-justify">7 <em><strong>VS.</strong></em> 30</dd>
        <dt>Buts encaissés aux éliminatoires</dt>
        <dd class="text-justify">3 <em><strong>VS.</strong></em> 6</dd><br>
  			<dt>Analyse</dt>  			
  			<dd class="text-justify">C'est clairement le match le plus ouvert de la journée. Le Nigéria a eu du mal à se qualifier pour le mondial, et doit principalement sa qualification à son goal, qui prend très peu de buts. En face, la Bosnie a fait une excellente phase d'éliminatoires, avec 30 buts marqués : on aura donc un choc entre une équipe défensive et une offensive. Si le Nigéria a remporté la dernière CAN, son atout majeur, Moses, n'a été que l'ombre de lui-même cette année à Liverpool, tandis que la Bosnie aligne un magnifique trio Dzeko-Ibisevic-Pjanic qui a de quoi faire pâlire bien des défenses. Enfin, le style des Bosniens risque de ne pas être aussi défensif que contre l'Argentine, mais beaucoup plus agressif en vue d'une qualification.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>Si le goal Nigérian parviendra peut-être à préserver le nul jusqu'à la mi-temps, on mise sur une victoire de la Bosnie à la fin du temps réglementaire. On ne parierait pas sur plus de deux buts d'écart pour la Bosnie, mais pourquoi pas un 2-0.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Bilan du jour</h3><br>
	<p>Aujourd'hui encore, les rencontres sont relativement peu équilibrées, et il est sûrement plus intéressant de miser sur les scores ou les résultats à la mi-temps.
</div> 

<div class="jumbotron center">

	<p><em>Pronostics, sauce brésilienne.</em></p>
</div>

