<div class="jumbotron center">
	<h3>Colombie-Côte d'Ivoire</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">8e <em><strong>VS.</strong></em> 23e</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Victoire 3-0 (Grèce)<em><strong>VS.</strong></em> Victoire 2-1 (Japon)</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">3 victoires, 2 nuls <em><strong>VS.</strong></em> 2 victoires, 2 nuls, 1 défaite</dd>
  			<dt>Meilleurs joueurs</dt>
  			<dd class="text-justify">Rodriguez (Monaco), Gutierrez (River Plate) <em><strong>VS.</strong></em> Drogba (Galatasaray), Yaya Touré (Manchester City), Gervinho (AS Roma)</dd><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">On a clairement pu voir que les équipes d'Amérique du Sud étaient boostées par leur public depuis le début de ce mondial, comme le prouvent les surprises face à beaucoup de bonnes équipes européennes (Grèce, Suisse, Espagne). Si la Colombie a battu la Grèce 3-0 lors du match d'ouverture, la Côte d'Ivoire n'a rien à lui envier, ayant réussi à s'imposer 2-1 en gardant un mental de fer alors qu'ils étaient menés par les Japonais. Mais les Elephants se font vieux : leurs cadres disputent probablement leur dernière coupe du monde, et ils risquent de ne pas suivre le rythme imposé par les Colombiens. Ceci dit, même si la Colombie est autrement plus physique et technique que le Japon, il se peut que la Côte d'Ivoire lui tienne tête au moins pendant la première mi-temps.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On mise sur une victoire de la Colombie, et pour les plus joueurs, il est sûrement possible de parier sur un nul à la mi-temps : aux éliminatoires, la Colombie a mis 77% de ses buts dans la seconde période.</strong></dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Uruguay-Angleterre</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">7e <em><strong>VS.</strong></em> 10e</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Défaite 3-1 (Costa Rica) <em><strong>VS.</strong></em> Défaite 2-1 (Italie)</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">2 victoires, 2 nuls, 1 défaite <em><strong>VS.</strong></em> 2 victoires, 2 nuls, 1 défaite</dd>
  			<dt>Meilleurs joueurs</dt>
  			<dd class="text-justify">Suarez (Liverpool), Cavani (PSG), Forlan (Osaka) <em><strong>VS.</strong></em> Sturridge (Liverpool), Gerrard (Liverpool), Sterling (Liverpool), Rooney (Manchester Utd)</dd><br>
  			<dt>Blessures</dt>
  			<dd class="text-justify">Pereira <em><strong>VS.</strong></em>  Chamberlain</dd><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">Deux grandes équipes s'affrontent ce soir. On ne peut pas vraiment se fier au résultat de l'Uruguay contre le Costa Rica, qui a bénéficié d'une réussite déconcertante, marquant 3 buts sur 4 tirs cadrés, là où l'Uruguay a cruellement manqué de réalisme sur ses 5 frappes cadrées. Mais ce soir, l'Uruguay va bénéficier du retour de Luis Suarez et, là encore, du public sud-américain. Si Suarez est bien connu de ses coéquipiers anglais de Liverpool, le duo Suarez-Cavani risque néanmoins d'être dur à contenir. L'Angleterre, quant à elle, a fait un bon match contre l'Italie même si elle a perdu, et a fait une bonne phase éliminatoire, là où l'Uruguay a dû passer par les barrages. Le match risque d'être très fermé, car la défaite d'une des deux équipes signe son élimination du mondial...</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On va aller à l'encontre des cotes, mais on hésite vraiment entre un nul et une victoire de l'Uruguay, qui dépendra de la prestation de Suarez et Cavani face à la défense anglaise.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Japon-Grèce</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">46e <em><strong>VS.</strong></em> 12e</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Défaite 2-1 (Côte d'Ivoire) <em><strong>VS.</strong></em> Défaite 3-0 (Colombie)</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">4 victoires, 1 défaite <em><strong>VS.</strong></em> 2 défaites, 2 nuls, 1 victoire</dd>
  			<dt>Meilleurs joueurs</dt>
  			<dd class="text-justify">Honda (AC Milan), Kagawa (Manchester Utd) <em><strong>VS.</strong></em> Mitroglu (Fulham)</dd><br>
  			<dt>Analyse</dt>  			
  			<dd class="text-justify">En match d'ouverture, les Japonais ont montré beaucoup de fébrilité face à la Côte d'Ivoire, alors que les Grecs, même s'ils ont perdu 3-0 contre la Colombie, ont montré qu'ils étaient venus avec un vrai projet de jeu. Si son match d'ouverture n'en dit pas long sur elle, la Grèce a fait une brillante phase éliminatoire en ne prenant que 4 buts, donc 3 dans un seul match. Pour lui faire face, le Japon ne peut compter que sur Honda, Kagawa n'étant plus ce qu'il était depuis son départ de Dortmund.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>Là encore, on va aller contre les pronostics, mais on pense qu'une victoire grecque avec moins de deux buts d'avance est possible.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Bilan du jour</h3><br>
	<p>Aujourd'hui, trois matchs extrêmement ouverts et avec des cotes très intéressantes : de quoi se faire plaisir. C'est pour ça qu'on ne va pas aller dans le sens des cotes, sauf pour la Colombie, et préférer un nul ou l'Uruguay et la Grèce, ce qui vous permettra, avec un combiné 1N2, de multiplier votre mise par 23 !
</div> 

<div class="jumbotron center">

	<p><em>Pronostics, sauce brésilienne.</em></p>
</div>

