<div class="jumbotron center">
	<h3>Australie-Pays-Bas</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">15e <em><strong>VS.</strong></em> 62e</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">3 défaites, 1 nul, 1 victoire <em><strong>VS.</strong></em> 3 victoires, 1 défaite, 1 nul</dd>
  			<dt>Match d'ouverture</dt>
  			<dd class="text-justify">Défaite 3-1 (Chili) <em><strong>VS.</strong></em> Victoire 5-1 (Espagne)</dd>
  			<dt>Meilleurs joueurs</dt>
  			<dd class="text-justify">Robben (Bayern), Van Persie (Manchester Utd), Sneijder (Galatasaray), De Jong (AC Milan) <em><strong>VS.</strong></em> Tom Rogic</dd><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">L’Australie est une équipe capable de surprendre, mais ça reste une toute petite équipe ne comptant aucun joueur évoluant dans les cinq grands championnats, à l’exception d’un goal remplaçant. En plus, l’équipe est sur une mauvaise série de 3 défaites en matchs de préparation, et a perdu son match d’ouverture contre le Chili. Face à eux, des Oranje en grande forme suite à la correction apportée à l’Espagne (5-1) devraient continuer facilement sur leur lancée. Les vices champions du monde, avec un effectif semblable à celui de 2010, veulent probablement rattraper l’échec de la dernière édition.</dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On mise sur une victoire des Pays-Bas avec un handicap de un but.</strong></dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Espagne-Chili</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">1er <em><strong>VS.</strong></em> 14e</dd>
  			<dt>1er match de la coupe</dt>
  			<dd class="text-justify">Défaite 5-1 (Pays-Bas) <em><strong>VS.</strong></em> Victoire 3-1 (Australie)</dd>
  			<dt>Classement groupe B</dt>
  			<dd class="text-justify">4e <em><strong>VS.</strong></em> 2e</dd>
  			<dt>Meilleurs joueurs</dt>
  			<dd class="text-justify">Costa (Atletico), Iniesta (Barcelone), Mata (Manchester Utd), Xavi (Barcelone), Silva (Manchester City), Sergio Ramos (Real Madrid) <em><strong>VS.</strong></em> Sanchez (Barcelone), Vidal (Juventus), Vargas (Valence)</dd><br>
  			<dt>Analyse</dt>
  			<dd class="text-justify">Avec ses 29 buts marqués, le Chili aura été la seconde meilleure équipe de la phase éliminatoire, et son duo offensif Vidal-Sanchez est redoutable. La Roja s’est d’ailleurs imposée 3-1 dans son premier match contre l’Australie, et rêve d’une qualification. Mais pour ce faire les Chiliens vont devoir jouer défensif, ce qui ne leur ressemble pas, eux qui ont encaissé 25 buts durant les éliminatoires, avec un goal qui s’est pris 55 buts cette saison avec au Real Sociedad, qui a ainsi fini 14e du championnat espagnol. D’autant que Sanchez est bien connu de ses adversaires Barcelonnais, et on ne voit pas le Chili marquer plus de deux buts. En face, en revanche, malgré l’humiliation contre les Pays-Bas, on trouve quand même les champions du monde en titre, avec une attaque très incisive malgré la méforme de Diego Costa due à sa blessure. </dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>On a pu constater que les équipes sud-américaines étaient bien souvent boostées par leur public depuis le début du mondial, et l’Espagne marque la plupart de ses buts en seconde mi-temps, ce qui ouvre la possibilité de parier sur un nul à la mi-temps. Quant à l’issue du match, on pariera sur une victoire, même si un nul reste possible.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Cameroun-Croatie</h3><br>
		<dl class="dl-horizontal">
  			<dt>Classement Fifa</dt>
  			<dd class="text-justify">56e <em><strong>VS.</strong></em> 18e</dd>
  			<dt>5 derniers matchs</dt>
  			<dd class="text-justify">2 victoires, 1 nul, 2 défaites <em><strong>VS.</strong></em> 3 victoires, 1 nul, 1 défaite</dd>
  			<dt>1er match de la coupe</dt>
  			<dd class="text-justify">Défaite 1-0 (Mexique) <em><strong>VS.</strong></em> Défaite 3-1 (Brésil)</dd>
  			<dt>Blessures</dt>
  			<dd class="text-justify">Eto'o <em><strong>VS.</strong></em> Modric et Schildenfeld</dd><br>
  			<dt>Analyse</dt>  			
  			<dd class="text-justify">Les Lions, après un match très brouillon face au Mexique (1-0, mais deux buts refusés pour le Mexique), vont probablement devoir jouer sans Eto’o. L’équipe, sur une série de 5 défaites en coupe du monde, aura du mal à battre une équipe croate qui a montré qu’elle pouvait tenir tête au Brésil, avec un jeu très construit et incisif. C’est en plus le retour de Mandzukic et, malgré la blessure de Modric, la Croatie pourra compter sur d’excellents joueurs comme Rakitic ou son capitaine Srna, véritable pilier de l’équipe. Pour finir, la Croatie est une équipe constante dans sa concentration, qui marque aussi bien en première qu’en seconde mi-temps. </dd><br>
  			<dt>Pronostiçaõ</dt>
  			<dd class="text-justify"><strong>La blessure d’Eto’o risque d’être fatale pour le Cameroun, et on mise sur une victoire de la Croatie.</strong><dd>
		</dl>
</div>

<div class="jumbotron center">
	<h3>Bilan du jour</h3><br>
	<p>Les trois matchs de la journée présentent des favoris évidents, et pour une prise de risque il faudra se tourner vers un handicap en leur défaveur ou miser sur les scores à la mi-temps.
</div> 

<div class="jumbotron center">

	<p><em>Pronostics, sauce brésilienne.</em></p>
</div>

